In [1]:
import pandas as pd

In [2]:
vine_df=pd.read_csv("vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RDIJS7QYB6XNR,5.0,0.0,0.0,N,Y
1,R36ED1U38IELG8,5.0,0.0,0.0,N,Y
2,R1UE3RPRGCOLD,2.0,1.0,1.0,N,Y
3,R298788GS6I901,5.0,0.0,0.0,N,Y
4,RNX4EXOBBPN5,1.0,1.0,1.0,N,Y
...,...,...,...,...,...,...
4864244,R1UP8F8Y4GC3IE,4.0,0.0,1.0,N,N
4864245,R3K9ZYANG0OFJB,5.0,7.0,7.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N
4864247,R13AWVNEKSY9M1,5.0,5.0,5.0,N,N
4864248,R1HN7EVNEN51LR,4.0,2.0,7.0,N,N

In [3]:
vine_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [4]:
df1 = vine_df.loc[vine_df["total_votes"] >= 20]
df1

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [5]:
df2 = df1.loc[(df1["helpful_votes"]/df1["total_votes"] >= 0.5)]
df2

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [6]:
paid_df = df2.loc[df2["vine"]=="Y"]
paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
356,R9I5FOLKU99RY,5.0,19.0,20.0,Y,N
546,R3ED60RC69CCQ6,5.0,22.0,23.0,Y,N
926,R2JM687C525WR9,3.0,33.0,33.0,Y,N
7569,RUB4AUWGHG16G,4.0,25.0,27.0,Y,N
20672,R1S3IDYJUA6V2G,5.0,28.0,32.0,Y,N
...,...,...,...,...,...,...
4464051,R37TJH51JX1Q69,5.0,40.0,42.0,Y,N
4541849,R22ZIZJSUY0KTE,5.0,74.0,80.0,Y,N
4541916,RUSUDSP3IX5LO,2.0,87.0,102.0,Y,N
4630218,R199NONGNGZX3S,4.0,20.0,21.0,Y,N
4647725,R20J143LVLMX3J,4.0,31.0,35.0,Y,N

In [7]:
unpaid_df = df2.loc[df2["vine"]=="N"]
unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
104,ROP6ITXO8K5V2,5.0,23.0,27.0,N,Y
311,R3ND1LVU7AXCVF,1.0,21.0,21.0,N,Y
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y
...,...,...,...,...,...,...
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N

In [8]:
paid_five_star_number = paid_df.loc[(paid_df['star_rating']== 5)]["star_rating"].count()

In [9]:
paid_number = paid_df["star_rating"].count()

In [10]:
percentage_five_star_vine = paid_five_star_number / paid_number * 100

In [11]:
print(paid_number)
print(paid_five_star_number)
print(percentage_five_star_vine)

1266
432
34.12322274881517

In [13]:
unpaid_five_star_number = unpaid_df.loc[(unpaid_df['star_rating']== 5)]["star_rating"].count()
print(unpaid_five_star_number)

29982

In [14]:
unpaid_number = unpaid_df["star_rating"].count()
print(unpaid_number)

62028

In [15]:
percentage_five_star_non_vine = unpaid_five_star_number / unpaid_number * 100
print(percentage_five_star_non_vine)

48.33623524859741